In [1]:
import pandas as pd
import numpy as np

In [2]:
df1= pd.DataFrame({'C1':['3','4','10','4','2'],
                     'C2':['4','4','5','4','3'],
                     'C3':['5','3','7.5','3','1'],
                     'C4':['4','4','4','5','3'],
                     'C5':['3','3','25','4','0'],},
                     index=[0,1,2,3,4])

In [8]:
df1

   C1 C2   C3 C4  C5
0   3  4    5  4   3
1   4  4    3  4   3
2  10  5  7.5  4  25
3   4  4    3  5   4
4   2  3    1  3   0

In [12]:
df1.values

array([['3', '4', '5', '4', '3'],
       ['4', '4', '3', '4', '3'],
       ['10', '5', '7.5', '4', '25'],
       ['4', '4', '3', '5', '4'],
       ['2', '3', '1', '3', '0']], dtype=object)

In [13]:
df2 = pd.DataFrame({'C1':['3'],
                     'C2':['5'],
                     'C3':['3'],
                     'C4':['5'],
                     'C5':['4'],},
                     index=[0])

In [14]:
df2

  C1 C2 C3 C4 C5
0  3  5  3  5  4

In [15]:
df2.values

array([['3', '5', '3', '5', '4']], dtype=object)

In [32]:
df1

   C1 C2   C3 C4  C5
0   3  4    5  4   3
1   4  4    3  4   3
2  10  5  7.5  4  25
3   4  4    3  5   4
4   2  3    1  3   0

In [48]:
col_max = df1.max(axis=0)
col_max

C1      4
C2      5
C3    7.5
C4      5
C5      4
dtype: object

In [49]:
col_min = df1.min(axis=0)

col_min

C1    10
C2     3
C3     1
C4     3
C5     0
dtype: object

In [43]:
raw_max=df1.max(axis=0)
raw_max

C1      4
C2      5
C3    7.5
C4      5
C5      4
dtype: object

In [51]:
df1.max()

C1      4
C2      5
C3    7.5
C4      5
C5      4
dtype: object

In [52]:
df1.mean()

C1    68208.4000
C2     8908.6000
C3      107.5062
C4     8890.6000
C5    66508.0000
dtype: float64

In [53]:
df1.median()

C1    4.0
C2    4.0
C3    3.0
C4    4.0
C5    3.0
dtype: float64

In [71]:
df1 =pd.DataFrame(np.random.rand(5,5), columns=('C1','C2','C3','C4','C5'))

In [72]:
df1.describe()

             C1        C2        C3        C4        C5
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.280366  0.341792  0.665783  0.496323  0.644629
std    0.348858  0.299108  0.220407  0.289286  0.250567
min    0.001928  0.039217  0.413983  0.172216  0.207540
25%    0.063759  0.145993  0.442223  0.313447  0.670562
50%    0.140664  0.209772  0.766416  0.484250  0.746859
75%    0.331848  0.580023  0.835866  0.580634  0.774122
max    0.863628  0.733953  0.870427  0.931068  0.824064