In [1]:
import pandas as pd
import numpy as np

In [2]:
table = pd.DataFrame({'C1':['3','4','10','4','2'],
                     'C2':['4','4','5','4','3'],
                     'C3':['5','3','7.5','3','1'],
                     'C4':['4','4','4','5','3'],
                     'C5':['3','3','25','4','0'],},
                     index=[0,1,2,3,4])

In [3]:
table

   C1 C2   C3 C4  C5
0   3  4    5  4   3
1   4  4    3  4   3
2  10  5  7.5  4  25
3   4  4    3  5   4
4   2  3    1  3   0

In [4]:
table.to_numpy()

array([['3', '4', '5', '4', '3'],
       ['4', '4', '3', '4', '3'],
       ['10', '5', '7.5', '4', '25'],
       ['4', '4', '3', '5', '4'],
       ['2', '3', '1', '3', '0']], dtype=object)

In [5]:
B =np.array(table)

In [6]:
B

array([['3', '4', '5', '4', '3'],
       ['4', '4', '3', '4', '3'],
       ['10', '5', '7.5', '4', '25'],
       ['4', '4', '3', '5', '4'],
       ['2', '3', '1', '3', '0']], dtype=object)

In [7]:
bobot = pd.DataFrame({'C1':['3'],
                     'C2':['5'],
                     'C3':['3'],
                     'C4':['5'],
                     'C5':['4'],},
                     index=[0])

In [8]:
bobot

  C1 C2 C3 C4 C5
0  3  5  3  5  4

In [9]:
bobot.to_numpy()

array([['3', '5', '3', '5', '4']], dtype=object)

In [10]:
A = np.array(bobot)

In [11]:
A

array([['3', '5', '3', '5', '4']], dtype=object)

In [12]:
 len(B)

5

In [13]:
len(A)

1

In [17]:
print(B)
print('Nilai terbesar:', max(A))
print('Nilai terkecil:', min(B))

[['3' '4' '5' '4' '3']
 ['4' '4' '3' '4' '3']
 ['10' '5' '7.5' '4' '25']
 ['4' '4' '3' '5' '4']
 ['2' '3' '1' '3' '0']]
Nilai terbesar: ['3' '5' '3' '5' '4']

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()